*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
   
body{
    font-family: montserrat;
    background-color: #fff;
}
nav{
    background-color: rgb(92, 132, 218);
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size:35px ;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;


}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
a.active:hover{
    color: aqua;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;

}
@media (max-width:952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;


    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left:0;

    }
    

}
.img{
    width: 100%;
    margin-top: -18px;
    height: 100vh;
}
.welcome-screeen{
    background-image: url(https://img.freepik.com/free-vector/white-elegant-texture-background-style_23-2148432200.jpg?size=626&ext=jpg&ga=GA1.2.1043746885.1669217085&semt=sph);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 161px;
    margin-top: 0em;

}

@media only screen and (max-width: 949px){
    .about-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
       
    }
}
.about-card{
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 66px;
    margin-bottom: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    background-color: #2363cc;
    text-align: center;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 1px 1px 40px 2px #2361cc;
    min-height: 50px;
   

}
@media only screen and (min-width:2103px){
    .about-card{
        margin-left: -795px;
        margin-top: 53PX;
    
    }
}
.card{
    margin-top: 1rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: -1px 5px 25px -7px #222;
    border-radius: 14px;
   
    
}
.card-dev{
    background-color:darkgray;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: -1px 5px 25px -7px #222;
    display: flex;
}
.card-text{
    text-align: center;
    font-size: 21;
    font-weight: 600;
}
@media only screen and (min-width:945px) {
    #port-folio{
        display: flex;
        justify-content: space-between;
    }
    #services{
        display: flex;
        justify-content: space-between;
    }
    
}
