.navbar-name{
    text-decoration: solid;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: 73px;
}
.navbar-name:hover{
    text-decoration: none;
    color: black;

}
.nav-link active:hover{
    border-color: black;
}
.nav-link{
    color: #222;

}
.nav-link{
    color: #222;
}
#main-img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    margin-top: -404px;
}
.tit{
    
}
#about{
    text-align: center;
}
.about-image{
    width: 20em;
    height: 316px;
    margin-left: 42px;

    

}
.dev{
    padding-left: 26px;
    margin-top: -29px;
    font-weight: bold;
}
.about-card{
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    background-color: #2363cc;
    text-align: center;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 1px 1px 40px 2px #2069e1;
    margin-top: 39px;
    width: 386px;
    
    
}
.animation{
    color: #fff;
}
.animation:hover{
    color: #222;
    transition: 0.4s;
}
#portfolio-1{
    border-radius: 10px;
}
.card-text{
    text-align: center;
    font-weight: bold;
}  
.card:hover{
    transform: scale(1.1);
}
.card-img-top:hover{
    transition:transform 0.3ms;
}
.card{
    margin-left: 5rem;
}
.card{
    margin-top: 1rem;
}
.card-dev{
    background-color:darkgray;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: -1px 5px 25px -7px #222;
}
.service{
    justify-content: center;
    display: flex;
}
.circle{
    width: 75px;
    height: 75px;
    background-color:;
    border-radius: 50%;
    border-style: solid;
    border-color: #232c3a;
    margin-left: 31%;
    margin-top: -48px;
}
.fa-solid{
    padding-top: 23%;
    font-size: 36px;
}
.circle:hover{
    background-color:rgb(56, 132, 182);
    transition: 0.3s;
}





